@page "/"

<PageTitle>Space Wars | Home</PageTitle>


<h1>Space Wars!</h1>
<p>2024 Snow College Software Engineering Coding Challenge</p>


<p>Public server: <a href="https://snowspacewars.azurewebsites.net/">https://snowspacewars.azurewebsites.net/</a>
    <i>(use that as the API address when you're running your client)</i>
</p>

<p>Fork (or clone) the client from <a
        href="https://github.com/SnowSE/SpaceWars.Console">https://github.com/SnowSE/SpaceWars.Console</a>. Modify the
    Program.cs file to customize the existing key mappings and program new macros to navigate, target other
    ships, attack, repair your damage, buy new guns, etc.
</p>
<p>
    If you want to build your own client from scratch, use the <a
        href="https://snowspacewars.azurewebsites.net/swagger">Swagger page</a>.
</p>

<p>Already joined your client to the server? Go to the <a href="spectatorview">Spectator View</a> to see everyone else
    in the game.</p>