@page "/hud"
@using Microsoft.AspNetCore.WebUtilities
@using SpaceWars.Logic
@using SpaceWars.Web.Components.Hud
@inject NavigationManager NavigationManager
@inject Game Game

<PageTitle>Space Wars | HUD</PageTitle>

<h1>Player: @Player?.Name</h1>
<ShipStatus Ship="@Player?.Ship" />
<PlayerActionQueue Token="PlayerToken" />

<NearbyMap Game="@Game" CurrentPlayer="@Player" />


@code {
    public Player? Player;

    public PlayerToken? PlayerToken = null;

    protected override void OnInitialized()
    {
        GetPlayer();
        if (Player == null)
        {
            throw new Exception("Player not found");
        }
    }

    private void GetPlayer()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        PlayerToken = null;

        var result = Game.Join("A");
        result = Game.Join("B");
        PlayerToken = result.Token;

         @* if (query.TryGetValue("token", out var token))
         {
             if (string.IsNullOrWhiteSpace(token))
             {
                 throw new Exception("Token is empty");
             }
            PlayerToken = new PlayerToken(token!);
         }

        if (PlayerToken == null)
         {
             throw new Exception("Player token not found");
         } *@


        Player = Game.GetPlayerByToken(PlayerToken);
    }
}
