@using SpaceWars.Logic
@using SpaceWars.Logic.Actions
@inject Game Game

@if (Player == null)
{
    <p> Invalid Token </p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Actions</h2>
                <div class="row">
                    @foreach (var action in PlayerActions)
                    {
                        <div class="col-md-4 col-sm-6 mb-3 col-lg-4 p-1 m-0">
                            <div class="card rounded-pill">
                                <div class="card-body ">
                                    <h5 class="card-title h5 text-center">@action.Name</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Player? Player { get; set; }
    public List<GamePlayAction> PlayerActions { get; set; } = new List<GamePlayAction>();

    protected override void OnInitialized()
    {
        if (Player == null)
        {
            throw new Exception("Token is null");
        }

        PlayerActions = Player.GetActions().ToList();
    }
}
