@using SpaceWars.Logic

@if (Ship == null)
{
    <p>Ship not found</p>
    return;
}
else
{
    <div class="row p-2 w-100" style="color: #39FF14; border: 3px solid #39FF14;">
        <h4>Inventory</h4>
        <hr />
        <div class="row">
            <div class="col-6">
                <h6>Repair: $@Ship.RepairCreditBalance</h6>
            </div>
            <div class="col-6">
                <h6>Upgrade: $@Ship.UpgradeCreditBalance</h6>
            </div>
        </div>
        <table class="table mx-2" style="color: #39FF14;">
            <thead>
                <tr>
                    <th>Weapons</th>
                    <th>Purchase Cost</th>
                    <th>Max Damage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var weapon in Ship.Weapons)
                {
                    <tr>
                        <td>@weapon.Name</td>
                        <td>@weapon.PurchaseCost</td>
                        <td>@weapon.MaxDamage</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
@code {
    [Parameter] public Ship Ship { get; set; }
}