@using SpaceWars.Logic

@if(Game.Map.CurrentShop == null)
{
    <p>Shop not found</p>
    return;
}

<div class="row p-2 w-100 mb-2" style="color: #39FF14; border: 3px solid #39FF14;">
    <h4>Shop</h4>
    <ul>
        @foreach (var item in Game.Map.CurrentShop)
        {
            <li class="small"> @item.Name: $@item.PurchaseCost </li>
        }
    </ul>
</div>
@code {
    [Parameter] public Game Game { get; set; }
}
