@using SpaceWars.Logic

@if(Game.Map.CurrentShop == null)
{
    <p>Shop not found</p>
    return;
}

<div class=" border border-3 rounded p-2 w-100">
    <div class="">
        <div><h2>Shop</h2</div>
        @foreach (var item in Game.Map.CurrentShop)
        {
            <div class="col-12">
                <ul>
                    <li>
                    <label>@item.Name: $@item.Cost</label>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
@code {
    [Parameter] public Game Game { get; set; }
}
